name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"
  workflow_call:
    inputs:
      server_url:
        type: string
        description: The URL of the Benchy server to report results to

env:
  NODE_VERSION: "18.x"

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: pnpm/action-setup@v2
        with:
          run_install: true
      - run: pnpm run test

  # test action works running from the graph
  test:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: pnpm/action-setup@v2
        with:
          run_install: true
      - uses: ./
        with:
          track_file_size: dist/**
          server_url: ${{ inputs.server_url }}
        id: benchy
      - name: print the comment_markdown
        run: echo "$OUTPUT"
        env:
          OUTPUT: ${{ steps.benchy.outputs.comment_markdown }}
